// haburger
.hamburger-menu {
  width: 31px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  @include media-mobile {
    display: flex;
  }
}

.line {
  height: 3px;
  width: 100%;
  background: $color-hamburger;
  border-radius: 10px;
  @extend %transition3;
}

.change .line-1 {
  transform: rotateZ(-45deg) translate(-6px, 3px);
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  transform: rotateZ(45deg) translate(-8px, -6px);
}
